---
import { AccordionDemo } from "./FaqAccordion";
---

<!-- FAQ -->
<div
  class="px-4 py-10 sm:px-6 lg:px-8 lg:py-14 container mb-28 mx-auto"
  id="preguntas-frecuentes"
>
  <!-- Grid -->
  <div class="grid md:grid-cols-5 gap-10">
    <div class="md:col-span-2">
      <div class="max-w-xs">
        <h2 class="text-3xl font-bold xl:text-4xl md:leading-tight">
          Preguntas Frecuentes
        </h2>
        <p class="mt-1 hidden md:block">
          Aca te dejamos una lista de las preguntas que mas nos hacen.
        </p>
      </div>
    </div>
    <!-- End Col -->
    <div class="md:col-span-3">
      <AccordionDemo client:idle />
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End FAQ -->
