<footer>
  <div class="max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-5 text-center">
      <div>
        <a
          class="flex-none text-xl font-semibold text-white"
          href="#inicio"
          aria-label="Valentaxi">Valentaxi</a
        >
      </div>
      <!-- End Col -->

      <ul class="text-center">
        <li
          class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-600"
        >
          <a
            class="inline-flex gap-x-2 text-sm text-gray-400 hover:text-gray-200"
            href="#inicio"
          >
            Inicio
          </a>
        </li>
        <li
          class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-600"
        >
          <a
            class="inline-flex gap-x-2 text-sm text-gray-400 hover:text-gray-200"
            href="#sobre-nosotros"
          >
            Sobre Nosotros
          </a>
        </li>
        <li
          class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-600"
        >
          <a
            class="inline-flex gap-x-2 text-sm text-gray-400 hover:text-gray-200"
            href="#testimonios"
          >
            Testimonios
          </a>
        </li>
        <li
          class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-600"
        >
          <a
            class="inline-flex gap-x-2 text-sm text-gray-400 hover:text-gray-200"
            href="#preguntas-frecuentes"
          >
            Preguntas Frecuentes
          </a>
        </li>

        <li
          class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-600"
        >
          <a
            class="inline-flex gap-x-2 text-sm text-gray-400 hover:text-gray-200"
            href="#contactanos"
          >
            Contactanos
          </a>
        </li>
      </ul>
      <!-- End Col -->

      <!-- Social Brands -->
      <div class="md:text-right space-x-2">
        <a
          class="inline-flex justify-center items-center w-8 h-8 text-center text-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-primary-brand focus:ring-offset-2 transition hover:bg-gray-800 focus:ring-offset-slate-900"
          href="https://api.whatsapp.com/send/?phone=584124791885&text&type=phone_number&app_absent=0"
          target="_blank"
          rel="norel"
          referrerpolicy="no-referrer"
          title="Enlace a Whatsapp de Valentaxi"
        >
          <span class="sr-only">Enlace a Whatsapp de Valentaxi</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-slate-200"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.403 5.633A8.919 8.919 0 0 0 12.053 3c-4.948 0-8.976 4.027-8.978 8.977 0 1.582.413 3.126 1.198 4.488L3 21.116l4.759-1.249a8.981 8.981 0 0 0 4.29 1.093h.004c4.947 0 8.975-4.027 8.977-8.977a8.926 8.926 0 0 0-2.627-6.35m-6.35 13.812h-.003a7.446 7.446 0 0 1-3.798-1.041l-.272-.162-2.824.741.753-2.753-.177-.282a7.448 7.448 0 0 1-1.141-3.971c.002-4.114 3.349-7.461 7.465-7.461a7.413 7.413 0 0 1 5.275 2.188 7.42 7.42 0 0 1 2.183 5.279c-.002 4.114-3.349 7.462-7.461 7.462m4.093-5.589c-.225-.113-1.327-.655-1.533-.73-.205-.075-.354-.112-.504.112s-.58.729-.711.879-.262.168-.486.056-.947-.349-1.804-1.113c-.667-.595-1.117-1.329-1.248-1.554s-.014-.346.099-.458c.101-.1.224-.262.336-.393.112-.131.149-.224.224-.374s.038-.281-.019-.393c-.056-.113-.505-1.217-.692-1.666-.181-.435-.366-.377-.504-.383a9.65 9.65 0 0 0-.429-.008.826.826 0 0 0-.599.28c-.206.225-.785.767-.785 1.871s.804 2.171.916 2.321c.112.15 1.582 2.415 3.832 3.387.536.231.954.369 1.279.473.537.171 1.026.146 1.413.089.431-.064 1.327-.542 1.514-1.066.187-.524.187-.973.131-1.067-.056-.094-.207-.151-.43-.263"
            ></path></svg
          >
        </a>
      </div>
      <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
  </div>
</footer>
