---
import { SEOMetadata } from "astro-seo-metadata";
import { Provider as ReactWrapBalancerProvider } from "react-wrap-balancer";

import "@fontsource/poppins";
import "../globals.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<SEOMetadata
			siteName={"Valentaxi - Servicio de taxi ejecutivo en Venezuela"}
			title={"Valentaxi - Servicio de taxi ejecutivo en Venezuela"}
			description={"Servicio de taxi ejecutivo confiable y seguro en Venezuela. Reserve su viaje en línea o por teléfono y disfrute de un transporte cómodo y de alta calidad. ¡Llegue a su destino a tiempo con Valentaxi!"}
			favicon={"/favicon.ico"}
			author="Ricardo Castro"
			copyright="ISC"
			astroSitemap={true}
			canonicalUrl={Astro.url.toString()}
			type={"website"}
			astroGenerator={true}
		/>
	</head>
	<body class="bg-slate-900 text-slate-100 antialiased gap-28">
		<ReactWrapBalancerProvider>
			<slot />
		</ReactWrapBalancerProvider>
		<script
			type="text/partytown"
			is:inline
			src="./node_modules/preline/dist/preline.js"></script>
		<style is:global>
			html {
				font-display: swap;
				scroll-behavior: smooth;
			}
		</style>
	</body>
</html>
